.color-nav-link{
  color: black!important;
  /* margin-right: 20%; */
  padding-right: 20px!important;
}
.navbar-nav{
  flex-direction: row;
}

ul{
  list-style-type: none;
}
.contenedor {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
   align-items: baseline;
   background-color: white;
  /* grid-template-columns: auto auto;
  grid-column-gap: 50%;
  justify-items: center;
  margin-top: 1%;
  margin-bottom: 1%; */
}
.logo{
  margin-top: 2%;
  margin-bottom: 2%;
}
.infor ul {
  margin-top: 1rem;
  list-style: none;
}
.infor ul li {
  display: inline;
  margin-left: .8rem;
  margin-right: .8rem;
}
.nabar {
  background-color:#333;
  color: #ffffff;
  min-height: 60px;
}
.nav-link {
  color: #ffffff;
  font-size: 1.1rem;
  padding-left: .6rem;
  padding-left: .6rem;
}
.navbar-brand {
  color:#ffffff;
}

.infor{
  width: 10%;
}
.infor a{
  margin-left:10% ;
}


/*  */
/*  */
/*  */
/*  */
.body{
  display: grid;
  grid-template-columns: [disenia] 50% [compra] 50%;
  height: 400px;
  max-height: 400px;
  /* padding-left: 2%;
  padding-right: 2%; */
}
.disenia-body{
  background-image: url("../images/disenia.jpg");
  grid-column-start: disenia;
  max-height: 400px;
  text-align: center;
  position: relative;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.compra-body{
  background-image: url("../images/compra.jpg");
  grid-column-start: compra;
  max-height: 400px;
  text-align: center;
  position: relative;
  color: white;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}
.body h1{
  position: absolute;
  top: 10%;
  left: 43%;
  }
.body img{
  max-height: 400px;
  width: 100%;
}

.welcome{
  background: url(imgpath) no-repeat center;
  background-size: cover;
  /* position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center; */
}
.coontainer {
  /* width: 100px;
  height: 100px; */
  position: relative;
}
.bd-example h5{
  color: white;
  font-size: 40px;
}
.bd-example img{
  max-height: 716px;
}
.bd-example,
.header {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  z-index: 10;
}
/* .cont{
  position: relative;
}
.abs{

  position: absolute;
} */

@media (max-height: 1102px) {

  .user-data-comprar p {
    max-width: 300px;
  }
}
@media (max-height: 840px) {
  .user-data-comprar{
    width: 70%;
  }
}
@media (max-height: 640px) {
  .bd-example img{
    max-height: 640px;
  }
}
@media (max-height: 440px) {
  .bd-example img{
    max-height: 433px;
  }
}

/*******/


/************************************************************/
/***********************Mostrar productos********************/
/************************************************************/
.container-productos{
  margin: 1%;
  display: grid;
  grid-template-columns: [filtro] 15% [productos] 85%;
}
.filtros-perfil{
  grid-column-start: filtro;
}

.inside-input{
  position: absolute;
  padding-top: .7%;
  padding-left:.5%;
}
#min{
  width: 40%;
  padding-left: 20px;
  /* padding: 8px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 65px;
}
#max{
  width: 40%;
  padding-left: 20px;

  /* padding: 7px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 65px;
}
#submit-precio {
  background-color: #393232;
  color: white;
  border: none;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filtro-container {
  display: flex;
  justify-content: end;
  margin-bottom: 2%;
}

.filtro{
  margin-right: 5%;
}

.productos {
  grid-column-start: productos;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
  justify-content: space-around;
}

.producto {
  max-width: 230px;
  width: 230px;
  margin-bottom:5%;
  margin-left: 10px;
  /* border: 1px solid; */

}

.producto .img-1{
  /* margin-left: 15px; */
  width:230px;
  min-width: 230px;
  min-height: 250px;
  height:250px;
}

.playera-nombre{
  text-align: center;
  word-wrap: break-word;
}
.precio-estrellas {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-left: 5%;
}

.add-cart-img {
float: right;
width: 25px;
align:left;
}

.add-cart-btn{
  text-align: left;
  width: 100%;
  height:50px;
  background-color: #333;
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;

  text-decoration: none;
  cursor: pointer;
}

/********* mostras descripcion de productos ************/
/*******************************************************/
.producto-grid {
  margin-top: 3%;
  display: grid;
  grid-template-columns: [producto] 60% [especificaciones] 40%;
}

.producto-ver{
  grid-column-start: producto;
  display: grid;
  grid-template-columns: [lista] 15% [playera] 85%;
}
.producto-vistas{
  grid-column-start: lista;
  padding-left: 60px;
}
.img-vista{
  border: 1px solid;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}

.img-vista:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.wrapper-producto{
  grid-column-start: playera;
  justify-self: center;
  max-width:550px ;
  max-height:500px ;
  min-width: 550px;
  min-height: 500px;
  display: inline-block;
}

/*  Si quieres cambiar para que la playera tenga un tamaño fijo
hay que mover aqui y el de arriba, quitarle el wrapper (quitar la clase de arriba)*/
.img-2 {
  margin-left: auto;
	margin-right: auto;
	display: block;
  /* width: 550px;
  height: 600px; */
}

.especificaciones {
  padding-top: 30px;
  font-size: 20px;
}


/***************************************/
/****************Pefil******************/
/***************************************/


.filtros-perfil{
  grid-column-start: filtro;
  padding-left: 5%;
}


.container-productos-perfil{
  margin: 1%;
  display: grid;
  grid-template-columns: [filtro] 20% [productos] 80%;
}

.perfil{
  width: 20%;
  height: 10%;
  background-color: red;
  /* text-align: 35px; */
  /* margin-left: 10%; */
}

.nombre-perfil{
  /* text-align: center; */
  font-size: 35px;
}

.perf {
  margin-top: 6%;
}

/***************************************/
/**************Comentarios**************/
/***************************************/

.comentarios {
  margin-left: 8%;
  margin-bottom: 2%;
}
.comentario {
  max-width: 800px;
}

.foto-perfil-comentario{
  display: inline;
  width: 50px;
  height: 50px;
}

.perfil-comentario{
  display: table-cell;
  vertical-align: baseline;
}

.nombre-perfil-comentario{
  display: inline;
  vertical-align: baseline;
}
.calificacion-comentario{
  display: inline;
  width: 80px;
  height: 40px;
}
.body-comentario{
  margin-top: 10px;
  margin-left: 7%;
}
.fecha-comentario{
  font-size: 13px;
}
.texto-comentario{
  font-size: 18px;
}
.ajustes-d{
margin-bottom: 4%;
display: block;
height: 40px;
}
.ajustes{
  float:right;
  margin-right: 50px;
  width: 40px;
  height: 40px;
}

/**************************************/
/****************Editar****************/
/**************************************/

.edit-box {
    margin-top: 3%;
    display: grid;
    grid-template-columns: [imagen] 23% [datos] 52% [botones] 25%;
    height:250px;
    width:90%;

    /* max-width:90%;
    max-height:250px; */

    margin-left: 6%;
    border: 1px solid #fff;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
  }

.edit-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imagen-editar{
  grid-column-start: imagen;
  justify-self: center;
  align-self: center;
  height: 250px;
}

.imagen-editar img{
  width: 180px;
  height: 230px;
}


.inf-producto-edit{
  grid-column-start: datos;
  padding: 5%;
  display: grid;
  grid-template-columns: [primer] 50% [segundo] 50%;
}

.inf-1{
  grid-column-start: primer;
}
.inf-2{
  grid-column-start: segundo;
}

.botones{
  grid-column-start: botones;
  justify-self: center;
  align-self: center;
}

.botones button{
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 200px;
  justify-self: center;
}

.botones button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-editar{
  background-color: #4CAF50;
  margin-bottom: 20%;
}
.btn-eliminar{
  background-color: #f44336;
}
/****************************/
/****************************/
/************Compras*********/
/****************************/
/****************************/


/****************************/
/****************************/
/************Carrito*********/
/****************************/
/****************************/

.grid-carrito{
  margin-top: 1%;
  display: grid;
  grid-template-columns: [carrito] 70% [compras] 30%;
}
.carrito{
  grid-column-start: carrito;
}
.comprar-box{
  max-height: 150px;
  padding: 4%;
  grid-column-start: compras;
  background-color: #f3f3f3;
  width: 90%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.comprar-box p{
  font-size: 24px;
  color: black;
}
.comprar-box button{
  width: 100%;
}

.edit-box2 {
    margin-top: 3%;
    display: grid;
    grid-template-columns: [imagen] 30% [datos] 70%;
    height:190px;
    width:85%;
    margin-left: 6%;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
  }
.imagen-editar-div{
  grid-column-start: imagen;
    justify-self: center;
    align-self: center;
}
.imagen-editar2{
    width: 100px;
    height: 150px;
  }

.inf-producto-edit2{
  grid-column-start: datos;
  padding: 3%;
  padding-top: 4%;
  display: grid;
  grid-template-columns: [primer] 34% [segundo] 34% [tercero] 32%;
}
.inf-3{
  grid-column-start: tercero;
}
#titulo-carrito{
  font-size: 30px;
  padding-left: 4%;

}
/***********************/
/*****comprar-pagar*****/
/**********************/

/******************/
/*****alertas*****/
/******************/
.alerta-center{
  display: flex;
  justify-content: center;
}
.alertas{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 30px;
  color: #333333;
  background: #f2f2f2;
}

/****************/
/****Comprar*****/
/****************/
.edit-box3 {
    margin-top: 3%;
    display: grid;
    grid-template-columns: [imagen] 40% [datos] 60%;
    height: 190px;
    width: 85%;
    margin-left: 6%;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
}
.inf-producto-edit3{
  grid-column-start: datos;
  padding: 3%;
  padding-top: 4%;
  display: grid;
  grid-template-columns: [primer] 60% [segundo] 40%;
}

.titulo-compra{
  /* background: pink; */
  height:120px;
  margin-left: 10%;
}
.user-data-comprar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  color: #333333;
  background: #f2f2f2;
  flex-direction:column;
  font-size: 20px;
  /* padding: 5%; */
  background: #f2f2f2;
  width:50% ;
  height:310px;
  max-height:300px;

  margin-left: 20%;
  padding-left: 4%;
}
.user-data-comprar p {
  max-width: 600px;
}
.user-data-comprar p span{
  word-wrap: break-word;
  font-size: 15px;
}
.user-data-comprar h2{
  margin-top: 10px;
  flex-grow: 1;
}
.modificar{
  width: 55%;
}
.boton-compra{
  margin-top:2% ;
  margin-left:3%;
  margin-right:2%;
  width: 95%;
}
.pagination{
  display: flex;
  justify-content:  center;
}
